<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citconpay.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"/>

        <activity android:name=".ui.main.view.CUPaySDKActivity"
            android:theme="@style/ct_transparent_activity_theme"/>

    </application>
</manifest>