<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citconpay.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"/>

        <activity android:name=".ui.main.view.CUPaySDKActivity"
            android:theme="@style/ct_transparent_activity_theme"/>

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <!-- Wechat sdk and Citcon sdk call entry -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="sdk.PaymentActivity" />
    </application>
</manifest>